.navbar {
    display: flex;
    /* padding: 12px; */
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.logo {
    margin: 0;
    height: 60px;
}

.calculator {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.calculatorInput {
    font-size: 22px;
    background: #fff;
    padding: 0 20px;
    border: 1px solid #fff;
    font-weight: 400;
    line-height: 22px;
    width: 80%;
    box-sizing: border-box;
    height: 70px;
    outline: none;
    border-radius: 6px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
    appearance: none;
    color: #444;
}

.calculatorInput::placeholder {
    color: #b5b5b5;
}

.resultMessage {
    margin-top: 50px;
    width: 80%;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.finalPrice {
    margin-top: 10px;
    font-weight: 700;
    font-size: 32px;
}

.disclaimer {
    margin-top: 80px;
    font-size: 12px;
}

/* Tablet */
@media (min-width: 640px) {
    .resultMessage {
        width: 70%;
    }

    .calculatorInput {
        width: 70%;
    }
}

/* Laptop */
@media (min-width: 1024px) {
    .resultMessage {
        width: 60%;
    }

    .calculatorInput {
        width: 60%;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .resultMessage {
        width: 640px;
    }

    .calculatorInput {
        width: 640px;
    }
}
